/* HOME SECTION  */
.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 8rem 8rem 15rem 8rem;
}

.name-title {
  font-size: 6rem;
  font-weight: 600;
}

.subtitle {
  font-size: 3.5rem;
  padding-left: 1rem;
  color: #cccccc;
  margin-bottom: 1rem;
}

.home-buttons {
  display: flex;
  flex-direction: column;
}

.home-buttons button {
  border: 0.1rem solid black;
  padding: 2rem 4.5rem;
  cursor: pointer;
}

.ux-button {
  margin-bottom: 1rem;
}

/* SOCIAL ICONS  */
.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 1rem;
}

.social-icons box-icon {
  padding: 0.2rem;
}

/* FOOTER */

.footer-text {
  font-size: 0.8rem;
  margin-left: 1rem;
}
